h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    color: #4aaaa5;
    font-size: 50px;
    border-bottom: solid 2px #cccccc;
    background-size: 600px;
    } 
    .navbar {
        border-bottom: outset;
        background-color: #ffffff;
        
      }
      h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color:#ffffff;
        color: #4aaaa5;
        border-bottom: solid 2px lightgray; 
      }
      .container {
        border:solid 2px #dddddd;
        width: 6000px;
        height: 550px;
        background-color: #ffffff;
      }
        .footer {
        height: 50px;
        background-color: #666666;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        border-top: solid 8px #4aaaa5
        }
        img {
          width: 200px;
          height: 250px;
          margin: 10px;
        }
        p {
        display: inline;
        }
        .navbar {
          display: inline;
        }